<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Поставщик -->
		<add key="provider" value="System.Data.SqlClient" />
		<!-- Строка подключения -->
		<add key="connectionStr" value="Data Source=USER-PC;Initial Catalog=Турфирма;Integrated Security=True"/>
	</appSettings>
</configuration>
